body {
    background-color: rgb(67, 67, 67);
    color: aliceblue;

}

.coin-app {
    max-width: 1040px;
    margin: auto;

}

.coin-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    border-bottom: 2px solid rgb(47, 47, 47);

}

input {
    width: 180px;
    height: 40px;
    border-radius: 35px;
    padding: 5px;
    font-size: 20px;
    text-indent: 15px;
    background-color: rgb(188, 188, 188);
    outline: none;
    border: 0px;

}